.navbar-class {
    display:flex;
    flex-direction: column;
    position:fixed;
    align-items: center;
    margin:0px;
    padding:0px;
    top:55px;
    left:0px;
    bottom:0px;
    width:66px;
}
